# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
.idea/

# Docker
.dockerignore
docker-compose.override.yml

# Other
*.log
.DS_Store

# Large binaries
kafka/
*.tgz
*.pt
test_video.mp4
