[Unit]
Description=ntfy push notification server
After=network.target

[Service]
ExecStart=/usr/local/bin/ntfy serve --listen-http :8090
Restart=always
User=user
Group=user
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target
